button{
  scale:2;
  position: absolute;
  top:20px;
  left:40px;
  animation-name: button-animation-type-1;
  animation-duration: 4s;
  animation-timing-function: linear ;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

@keyframes button-animation-type-1{
  0%{
    top:20px;
    left:40px;
  }
  30%{
    top:80px;
    left:900px;
  }
  70%{
    top:120px;
    left:700px;
  }
  100%{
top:400px;
width:500px;
  }
}