*{
  padding:0;margin:0;
  box-sizing: border-box;
}
.parent{
  transition-property: height,width;
  transition-duration: 1s;
  transition-timing-function: linear;
  background-color:blueviolet ;
  color:aliceblue;
  height:800px;
  width:800px;
  text-align: center;
  padding:16px;
}
h1{
  background-color: black;
}
@media(800px<=width <=1200px)
{
  .parent{
background-color: blue;
width:200px;
height: 200px;
  }
}